# HTTP server port
HTTP_PORT=7070

# WS server port
WS_PORT=8080

# Consumer origin (used for CORS)
CONSUMER_ORIGIN=http://localhost:3000

# Enable Swagger UI (true/false)
HAS_DOCS=true

# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:admin@localhost:5432/specialized-messenger?schema=public

# Bcrypt salt rounds (10-12 for production)
PASSWORD_HASH_SALT=10

# VAPID subject for push notifications
VAPID_SUBJECT=mailto:roman.developer@mail.ru

# VAPID public key for push notifications
VAPID_PUBLIC_KEY=BDc_NWZAmzXFkDaCS0Cxa1YQrQqQzcQYL8Z-aq_H1AefmV6U41OqeGFe1rSdJmho4Gflk5uVx8SKotG-D-duVNM

# VAPID private key for push notifications
VAPID_PRIVATE_KEY=kx-VFPS0WmznYFRY1a5duR-OvLokKrvgAL0dWR_4kGo

