# HTTP server port (1024-65535)
PORT=7070

# Enable Swagger UI (true/false)
HAS_DOCS=true

# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:admin@localhost:5432/specialized-messenger?schema=public

# Bcrypt salt rounds (10-12 for production)
PASSWORD_HASH_SALT=10

