# HTTP server port
HTTP_PORT=7070

# WS server port
WS_PORT=8080

# Consumer origin (used for CORS)
CONSUMER_ORIGIN=http://localhost:3000

# Enable Swagger UI (true/false)
HAS_DOCS=true

# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:admin@localhost:5432/specialized-messenger?schema=public

# Bcrypt salt rounds (10-12 for production)
PASSWORD_HASH_SALT=10

